
.payment-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
}

.payment-card {
  width: 380px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  text-align: center;
}

.title {
  margin-bottom: 8px;
  color: #0f172a;
}

.subtitle {
  font-size: 13px;
  color: #64748b;
  margin-bottom: 20px;
}

/* input */
.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  margin-bottom: 20px;
  outline: none;
  transition: 0.2s;
}

.input:focus {
  border-color: #0078E5;
}

/* buttons container */
.buttons {
  display: flex;
  gap: 10px;
}

/* base button */
.btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

/* deposit */
.deposit {
  background: #22c55e;
  color: white;
}

.deposit:hover {
  background: #16a34a;
  transform: scale(1.03);
}

/* final */
.final {
  background: #0078E5;
  color: white;
}

.final:hover {
  background: #005fcc;
  transform: scale(1.03);
}

/* disabled */
.btn:disabled {
  background: #94a3b8;
  cursor: not-allowed;
}