 body{
  margin: 0;
}
.container{
  background: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form{
  background: white;
 padding: 40px;
  width: 400px;
  border-radius: 10px;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}
label{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
button{
  margin-top: 10px;
  padding: 10px;
  background-color: #0078e5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
button:hover{
  background-color: darkblue;
}
input{
  padding: 8px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
}

.password-field span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.error-box {
  background-color: #ffe5e5;
  color: #d8000c;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ffb3b3;
}